<p style="color: green"><%= notice %></p>

<h1 class="recipes-title">Recipes of <%= current_user.name.capitalize %> :</h1>

<div id="recipes-list">
  <% @recipes.each do |recipe| %>
    <%= debugger %>
    <%= render recipe %>
    <p>
      <%= link_to "Show this recipe", recipe %>
    </p>
  <% end %>
</div>

<%= link_to "New recipe", new_recipe_path %>
