<p style="color: green"><%= notice %></p>

<h1 class="recipes-title">Recipes of <%= current_user.name.titleize %> :</h1>

<div id="recipes-list">
  <% current_user.recipes.each do |recipe| %>
    <div class="recipe-list-element">
      <div class="recipe-list-element-left">
        <%= link_to recipe.name, recipe %>
        <%= button_to "Delete", recipe_path(recipe.id) , method: :delete %>
      </div>
      <div class="recipe-list-element-rigth">
        <%= recipe.description %>
      </div>
    </div>
  <% end %>
</div>

<%= button_to "New", new_recipe_path, method: :get %>
