<div class="recipes-show-container">
  <h1><%= @recipe.name %></h1>

  <div class="recipe-show-text">
    <p>Preparation Time: <%= @recipe.preparation_time %> Minutes</p>
    <p>Cooking Time: <%= @recipe.cooking_time %> Minutes</p>
    <p>Description: <%= @recipe.description %> </p>
  </div>

  <div class="recipe-show-buttons">
    <%= button_to "Edit", edit_recipe_path(@recipe), method: :get %>
    <%= button_to "Back", recipes_path, method: :get %>
    <%= button_to "Delete", @recipe, method: :delete, form: { data: { "turbo-confirm": 'Are you sure?' } } %>
  </div>
</div>
