<h1>Hi, <%= current_user.name.titleize %> this is the Foods avalible</h1>

<div id="foods">
    <table>
      <tr>
        <th>Name:</th>
        <th>Measurement Unit:</th>
        <th>Price:</th>
        <th>Actions: </th>
      </tr>
      <% @foods.each do |food| %>
      <tr>
        <td><%= food.name %></td>
        <td><%= food.measurement_unit %></td>
        <td><%= food.price %></td>
        <td><%= button_to "Delete", food, method: :delete %></td>
      </tr>
      <% end %>
    </table>
</label>
</div>
