<!DOCTYPE html>
<html>
  <head>
    <title>The Recipes Book</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= favicon_link_tag(source = "favicon.ico", options = {}) %>
  </head>

  <body>
  <%# !TODO Refactor Navbar to a fragment %>
  <div class="navbar-desktop" data-controller="menu" >
    <button class="nav-button" data-action="click->menu#open" data-menu-target="menuOpen"><%= image_tag 'icons/menu.svg', width: 25, height: 25 %></button>

    <button class="nav-button" id="nav-close" data-action="click->menu#close" data-menu-target="menuClose"><%= image_tag 'icons/close.svg', width: 25, height: 25 %></button>

    <div class="navbar-buttons" data-menu-target="buttons">
        <% if user_signed_in? %>
          <%= button_to 'New Food', new_food_path, method: :get %>
          <%= button_to 'Recipes', recipes_path, method: :get %>
          <%= button_to 'Sign Out', destroy_user_session_path, method: :delete %>
          <%= button_to 'Edit User Info', edit_user_registration_path, method: :get %>
        <% else %>
          <%= button_to 'Sign In', new_user_session_path, method: :get %>
        <% end %>
      </div>
    </div>
    <% alert_str = "" %>
    <% if !alert.nil? %>
      <% alert_str = "alert_background" %>
    <% end %>
    <% if !notice.nil? %>
      <% alert_str = "notice_background" %>
    <% end %>
    <div class=<%= alert_str %> >
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    </div>
    <%= yield %>
  </body>
</html>
